<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
    <title>STUDENT FIRST</title>
	
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js" integrity="sha512-vFABRuf5oGUaztndx4KoAEUVQnOvAIFs59y4tO0DILGWhQiFnFHiR+ZJfxLDyJlXgeut9Z07Svuvm+1Jv89w5g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	
	<!-- Add icon library: <span class="fa fa-star stars" /> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/css/bootstrap-social.css">
	
	<link rel="stylesheet" href="/css/styles.css"/>
	
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<p><b>SASKATCHEWAN POLYTECHNIC</b></p>
				<p class="navbar-brand">STUDENT FIRST</p>
			</div>
			<ul class="nav navbar-nav navbar-right">
				
				<% if ( isAuthenticated ) { %>
					<li id="home"><a href="/">HOME</a></li>
					<li id="mytickets"><a href="/mytickets">MY TICKETS</a></li>
					<li id="myenrolls"><a href="/myenrolls">MY ENROLLMENTS</a></li>
					<li id="editprofile"><a href="/editprofile">PROFILE</a></li>
				<% } %>
				<% if ( ! isAuthenticated ) { %>
					<li id="login"><a href="/login">LOGIN</a></li>
				<% } %>
				<li id="about"><a href="/about">ABOUT</a></li>
				<% if ( isAuthenticated ) { %>
					<li id="logout"><a href="/logout">LOGOUT</a></li>
				<% } %>
			</ul>
		</div>
	</nav>
	
	<script type="application/javascript">
		/**
		* Javascripts here...
		*/
		function showDepartment() {
			var dept = document.getElementById("department").parentNode;
			dept.style.display = "block";
		}
		function hideDepartment() {
			var dept = document.getElementById("department").parentNode;
			dept.style.display = "none";
		}
	</script>
   
<!-- </head> -->

<body>
	<div class="container">
