<%- include('partials/header'); -%>

<h1>About</h1>
<p>
    This is a simple web application for student communication management developed with latest web technologies. <br>
    This initiative is an attempt to enable and empower educational institutions, such as Saskatchewan Polytechnic, to efficiently and timely interact and network with their clients (students). <br>
    Its meant to enables students to raise concerns, questions or queries to the institute and empower the institute to respond with appropriate clarifications. <br>
</p>

<h1>Your suggestions are welcome</h1>
<p>
    Kindly register to this portal in a secure manner via "Login with Google". Then visit "MY TICKETS" menu to create or edit tickets as you desire.  <br>
    Please note this portal is still in testing phase and hence your feedback is appreciated. <br> <br>
    Please feel free to submit as many new tickets as you desire, with each ticket explaining what functionality or feature you would like to see, which may help you and other users (students).
    Kindly submit a new Ticket for each suggestion for an easy tracking.
</p>

<h1>Contacts</h1>
<p><%= contactContent %></p>


<%- include('partials/footer'); -%>