<%- include('partials/header'); -%>

<h1>Create New Ticket</h1>

<form action="/mytickets" method="post">
    <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" name="summary" class="form-control" placeholder="Write a suitable summary title" required>
    </div>
    <div class="form-group">
        <label for="details">Details</label>
        <textarea name="details" cols="35" rows="5" class="form-control" placeholder="Write your question in detail (with relevant references if possible)" required></textarea>
    </div>
    <!-- <div class="form-group">
        <label for="owner">Creator</label>
        <input type="text" name="owner" class="form-control" placeholder="Ticket owner" required>
    </div> -->
    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" name="tags" class="form-control" placeholder="Enter tags separated by a comma or semicolon">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select class="form-select" id="category" name="category" required aria-label="Select appropriate category">
            <option value="PostGraduate" selected>PostGraduate</option>
            <option value="UnderGraduate">UnderGraduate</option>
            <option value="Alumni">Alumni</option>
        </select>
    </div>
    <div class="form-group">
        <label for="department">Department</label>
        <select class="form-select" id="department" name="department" required aria-label="Select appropriate department">
            <option value="Admissions" selected>Admissions</option>
            <option value="Accounts">Accounts</option>
            <option value="Library">Library</option>
            <option value="Academics">Academics</option>
            <option value="Recreation">Recreation</option>
            <option value="Sports">Sports</option>
            <option value="IT">IT</option>
            <option value="Alumni/Corporate">Alumni/Corporate</option>
        </select>
    </div>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer'); -%>
